* {
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 400px;
    border: 2px solid gray;
    position: absolute;
    padding: 20px 30px;
    left: 50%;
    top:50%;
    margin-top:-200px;
    margin-left: -150px;
}
